.custom-search{
  padding: 6px 0.75rem !important;
  &.oraginzationsearch{
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    display: inline-block;
width: 85%;
margin-right: 0 !important;
  }
}